/* HEADER */

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px 40px;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

.header > div + div {
  margin-top: 16px;
}

.header [class*="text"] {
  font-size: 14px;
  text-align: center;
}

.header__time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__time .clock {
  font-family: "Mark Pro Bold", sans-serif;
  font-size: 6em;
  line-height: 100%;
}

.header__weather {
  display: flex;
  flex-flow: column-reverse;
}

.header__weather > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__weather .degree {
  font-family: "Mark Pro Bold", sans-serif;
  font-size: 2em;
}

@media screen and (min-width: 769px) {
  .header {
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header > div + div {
    margin-top: 0;
  }

  .header__weather {
    flex-flow: column;
  }

  .header__time .clock {
    font-size: 4.25em;
  }

  .header__weather .degree {
    font-size: 1.5em;
  }
}

/* MAIN */

.main {
  display: flex;
  flex-flow: column;
  align-items: normal;
  font-size: calc(1vw + 1vh + 0.5vmin);
  margin-bottom: 32px;
}

.main > div {
  flex-basis: 100%;
}

.main img {
  max-width: 100%;
}

.main .mission-statement {
  flex-basis: 90%;
  margin-right: 10%;
  text-align: right;
  color: #222;
}

.main .mission-statement > * {
  line-height: calc(100% + 0.5em);
}

.main .mission-statement::first-line {
  font-size: 1.5em;
}

.main .mission-statement > span {
  display: block;
  font-family: "Mark Pro Bold";
  color: #c12d18;
}

.main .mission-statement > span + span {
  font-size: 2em;
}

@media screen and (min-width: 769px) {
  .main {
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0;
  }

  .main > div {
    flex-basis: 40%;
    margin-right: 12%;
  }

  .main .mission-statement {
    flex-basis: 40.5%;
    margin-right: 7.5%;
  }

  .main .mission-statement > * {
    line-height: normal;
  }

  .main .mission-statement::first-line {
    font-size: 1em;
  }

  .main .mission-statement > span + span {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1120px) {
  .main > div {
    flex-basis: 32%;
    margin-right: 18%;
  }

  .main .mission-statement {
    flex-basis: 52.5%;
    margin-right: 7.5%;
  }
}

/* FOOTER */

.footer {
  display: flex;
  flex-flow: column;
  background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
  font-size: calc(1vw + 1vh + 0.5vmin);
  color: #ffffff;
}

.footer > div + div {
  margin-top: 16px;
}

.footer .disclaimer {
  margin: 8px 16px 0 0;
  padding: 8px;
  border-right: #fff 1px solid;
  font-size: 12px;
}

.footer .refresh-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 14px;
}

.footer .refresh-countdown > span:first-child {
  width: 100px;
  margin-right: 16px;
  text-align: right;
}

.footer .refresh-countdown > span:last-child {
  text-align: center;
}

.footer .refresh-countdown .seconds {
  display: block;
  font-size: 2.5em;
  line-height: 100%;
  font-family: "Mark Pro Bold", sans-serif;
}

.footer .buttons {
  display: flex;
  height: 100px;
}

.footer .buttons button {
  flex: 1;
  padding: 16px;
  background: transparent;
  border: none;
  color: #fff;
}

.footer .buttons button:hover {
  background: #fff;
  color: #c13216;
}

@media screen and (min-width: 769px) {
  .footer {
    position: fixed;
    bottom: 0;
    flex-flow: row;
    align-items: center;
    background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
  }

  .footer > div + div {
    margin-top: 0;
  }

  .footer .disclaimer {
    margin: 0;
    flex-basis: 37.5%;
    margin-left: 12.5%;
  }

  .footer .refresh-countdown {
    flex-basis: 30%;
  }

  .footer .buttons {
    flex-basis: 20%;
  }
}
