/* HEADER */

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px 40px;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

.header > div {
  margin-top: 16px;
}

.header [class*="text"] {
  font-size: 14px;
  text-align: center;
}

.header__time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__time .clock {
  font-family: "Mark Pro Bold", sans-serif;
  font-size: 6em;
  line-height: 100%;
}

.header__weather {
  display: flex;
  flex-flow: column-reverse;
}

.header__weather > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__weather .degree {
  font-family: "Mark Pro Bold", sans-serif;
  font-size: 2em;
}

@media screen and (min-width: 750px) {
  .header {
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header > div {
    margin-top: 0;
  }

  .header__weather {
    flex-flow: column;
  }
}
